//MAIN COLORS
$main-orange: #ff6b6b;
$main-purple: #a147b0;
$main-blue: #458ab8;
$main-text-white: #fff;

$color-black: #000;

$color-grey-1: #444;

//gb-colors
$bg-white: #ddd;

//graidents
$border-graident: linear-gradient($main-orange, $main-blue);

//media data
$big-screen: 112.5em; //1800px
$big2-screen: 100em; //1600px
$medium-screen: 75em; //1200px
$medium2-screen: 62.5em; //1000px
$small-screen: 50em; //800px
$small2-screen: 43.75em; //700px
$small3-screen: 37.5em; //600px
$mini-screen: 31.25em; //500px
