//MAIN COLORS
$main-orange: #ff6b6b;
$main-purple: #a147b0;
$main-blue: #458ab8;
$main-text-white: #fff;

$color-black: #000;

$color-grey-1: #444;

//gb-colors
$bg-white: #eee;

//graidents
$border-graident: linear-gradient($main-orange, $main-blue);
