.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
  padding: 4rem 10rem 0;
  background-image: linear-gradient(
      rgba($color-black, 0.7),
      rgba($color-black, 0.7)
    ),
    url(../../img/forest-big.jpg);
  background-size: cover;

  &__box {
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media only screen and (max-width: $medium2-screen) {
      grid-template-columns: 1fr;
    }

    &-text {
      color: $main-text-white;
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1.1;
      padding-top: 26rem;

      @media only screen and (max-width: $big-screen) {
        font-size: 8rem;
        padding-top: 20rem;
      }

      @media only screen and (max-width: $big2-screen) {
        padding-top: 26rem;
      }

      @media only screen and (max-width: $medium-screen) {
        padding-top: 0;
        font-size: 6.5rem;
        align-self: end;
        padding-bottom: 5rem;
      }
      @media only screen and (max-width: $medium2-screen) {
        font-size: 8rem;
        grid-row: 2/3;
      }
      @media only screen and (max-width: $small-screen) {
        font-size: 7rem;
      }
      @media only screen and (max-width: $mini-screen) {
        font-size: 6rem;
      }
    }

    &-fancy {
      color: transparent;
      -webkit-background-clip: text;
      @include main-gradient;
      background-size: 200%;
      animation: header-bg-animation 20s infinite alternate;
    }

    &-name {
      padding-top: 10rem;

      @media only screen and (max-width: $medium2-screen) {
        justify-self: end;
        padding-right: 10rem;
        padding-top: 2rem;
      }

      @media only screen and (max-width: $small-screen) {
        padding-top: 10rem;
      }
      @media only screen and (max-width: $mini-screen) {
        padding-top: 20rem;
        justify-self: center;
      }
    }

    &-name h1:nth-child(1) {
      color: $main-text-white;
      font-family: monospace;
      font-weight: 800;
      font-size: 3rem;
      margin: 0 0 0 22%;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      width: 45%;
      animation: header-type 2s steps(40, end) forwards;

      @media only screen and (max-width: $big-screen) {
        font-size: 2.5rem;
      }
      @media only screen and (max-width: $medium-screen) {
        font-size: 3rem;
        width: 60%;
      }
      @media only screen and (max-width: $small-screen) {
        width: 80%;
      }
      @media only screen and (max-width: $mini-screen) {
        font-size: 4rem;
        width: 100%;
      }
    }

    &-name h1:nth-child(2) {
      opacity: 0;
      font-family: "Work Sans", sans-serif;
      margin: 0 auto auto auto;
      @include main-gradient;
      background-size: 150%;
      font-weight: 800;
      font-size: 12rem;
      width: 70%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      overflow: hidden;
      animation: header-shring-animation 2.2s steps(40, end) 2s forwards,
        header-blink 0.5s step-end infinite alternate;

      @media only screen and (max-width: $big-screen) {
        font-size: 10rem;
      }
      @media only screen and (max-width: $big2-screen) {
        background-size: 200%;
      }
      @media only screen and (max-width: $medium-screen) {
        font-size: 8rem;
        background-size: 250%;
      }
      @media only screen and (max-width: $medium2-screen) {
        font-size: 14rem;
        width: 100%;
      }
      @media only screen and (max-width: $small-screen) {
        font-size: 10rem;
      }
      @media only screen and (max-width: $small3-screen) {
        background-size: 300%;
      }

      @media only screen and (max-width: $mini-screen) {
        font-size: 12rem;
      }
    }
  }
}
