.project__card {
  // height: 70rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.4s;
  backface-visibility: hidden;
  height: 40rem;
  background-size: cover;

  @media only screen and (max-width: $medium-screen) {
    height: 45rem;
  }

  @media only screen and (max-width: $small-screen) {
    height: 55rem;
  }

  &-heading {
    position: absolute;
    bottom: -1%;
    right: 1%;
    font-size: 6rem;
    color: rgba($color-black, 0.4);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
  }

  &-1 {
    grid-row: 2/3;
    // grid-column: 1/2;
    background-image: url("../../img/Natours.png");
  }

  &-2 {
    grid-row: 2/3;
    // grid-column: 2/3;
    background-image: url("../../img/omnifood.png");

    @media only screen and (max-width: $small-screen) {
      grid-row: 3/4;
    }
  }

  &-3 {
    grid-row: 2/3;
    // grid-column: 3/-1;
    background-image: url("../../img/trillo.png");

    @media only screen and (max-width: $small-screen) {
      grid-row: 4/5;
    }
  }

  &-4 {
    grid-row: 3/4;
    // grid-column: 1/2;
    background-image: url("../../img/nexter.png");

    @media only screen and (max-width: $small-screen) {
      grid-row: 5/6;
    }
  }

  &-5 {
    grid-row: 3/4;
    // grid-column: 2/3;
    background-image: url("../../img/mapty.png");

    @media only screen and (max-width: $small-screen) {
      grid-row: 6/7;
    }
  }

  &-6 {
    grid-row: 3/4;
    // grid-column: 3/-1;
    background-image: url("../../img/bankist.png");

    @media only screen and (max-width: $small-screen) {
      grid-row: 7/8;
    }
  }

  &-7 {
    grid-row: 4/5;
    // grid-column: 1/2;
    background-image: url("../../img/banksit-app.png");

    @media only screen and (max-width: $small-screen) {
      grid-row: 8/9;
    }
  }

  &-8 {
    grid-row: 4/5;
    // grid-column: 2/3;
    background-image: url("../../img/forkify.png");

    @media only screen and (max-width: $small-screen) {
      grid-row: 9/10;
    }
  }

  &:hover {
    transform: scale(1.01);
  }

  &-1,
  &-2 {
    @media only screen and (max-width: $medium-screen) {
      grid-row: 2/3;
    }
  }
  &-3,
  &-4 {
    @media only screen and (max-width: $medium-screen) {
      grid-row: 3/4;
    }
  }
  &-5,
  &-6 {
    @media only screen and (max-width: $medium-screen) {
      grid-row: 4/5;
    }
  }
  &-7,
  &-8 {
    @media only screen and (max-width: $medium-screen) {
      grid-row: 5/6;
    }
  }

  &-2 {
    @media only screen and (max-width: $small-screen) {
      grid-row: 3/4;
    }
  }

  &-3 {
    @media only screen and (max-width: $small-screen) {
      grid-row: 4/5;
    }
  }

  &-4 {
    @media only screen and (max-width: $small-screen) {
      grid-row: 5/6;
    }
  }

  &-5 {
    @media only screen and (max-width: $small-screen) {
      grid-row: 6/7;
    }
  }

  &-6 {
    @media only screen and (max-width: $small-screen) {
      grid-row: 7/8;
    }
  }

  &-7 {
    @media only screen and (max-width: $small-screen) {
      grid-row: 8/9;
    }
  }

  &-8 {
    @media only screen and (max-width: $small-screen) {
      grid-row: 9/10;
    }
  }
}
