*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $big2-screen) {
    font-size: 50%;
  }

  @media only screen and (max-width: $medium2-screen) {
    font-size: 40%;
  }

  @media only screen and (max-width: $small3-screen) {
    font-size: 35%;
  }
}

body {
  box-sizing: border-box;
  background-color: $bg-white;
}

// ::selection {
//   background-color: $color-primary;
//   color: $color-white;
// }
